USE [master]
GO
/****** Object:  Database [dbShopBridge]    Script Date: 25-04-2021 11:05:23 ******/
CREATE DATABASE [dbShopBridge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbShopBridge', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbShopBridge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbShopBridge_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbShopBridge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbShopBridge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbShopBridge]
GO
/****** Object:  Table [dbo].[ShopInventory]    Script Date: 25-04-2021 11:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopInventory](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemType] [nvarchar](250) NULL,
	[ItemName] [nvarchar](250) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_ShopInventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
